@import '~node_modules/modern-normalize/modern-normalize.css';

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.border {
  box-shadow: inset 0 0 0 6px #23c3b2;
}
