.container {
  margin: 0 auto;
  width: 100%;

  @include mq(mobileS) {
    width: $mobileS;
  }

  @include mq(mobileM) {
    width: $mobileM;
  }

  @include mq(mobileL) {
    width: $mobileL;
  }
}
