.screen {
  height: 100%;
  padding: 50px;

  @include mq(mobileM) {
    padding: 60px;
  }

  @include mq(mobileL) {
    padding: 80px;
  }
}

.screen--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
