<section class="screen container screen--advantages">
  <p class="strong">Підключіть передплату за 1 грн та отримуйте:</p>

  <ul class="list">
    <li class="list__item">
      <h4 class="item__title">ТВ-архів</h4>
      <p>телепередач<br />до 14 днів</p>
    </li>
    <li class="list__item">
      <h4 class="item__title">Full HD</h4>
      <p>
        якість тільки<br />
        за передплатою
      </p>
    </li>
    <li class="list__item">
      <h4 class="item__title">10% знижка</h4>
      <p>на прем'єри</p>
    </li>
    <li class="list__item">
      <h4 class="item__title">5 пристроїв</h4>
      <p>в одній передплаті</p>
    </li>
    <li class="list__item">
      <h4 class="item__title">Без реклами</h4>
      <p>
        на всіх фільмах<br />
        та мультфільмах
      </p>
    </li>
  </ul>

  <button class="button" type="button">Підключити</button>
</section>
