<section class="container screen screen--center">
  <header>
    <button
      class="button__icon nav-menu"
      type="button"
      aria-label="Навігаційне меню"
    >
      <svg width="16" height="12">
        <use href="images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </header>

  <h1 class="hero-title">
    Дивіться ТБ та кіно без реклами в єдиній передплаті
  </h1>

  <p class="hero-descritption">
    Популярні телеканали та величезна бібліотека фільмів, серіалів,
    мультфільмів, трансляцій у єдиній передплаті.
  </p>

  <svg class="arrow" width="14" height="8">
    <use href="images/sprite.svg#arrow"></use>
  </svg>
</section>
