<section class="screen container screen--optima">
  <p class="optima-text">Передплата</p>
  <h2 class="optima-title">Оптимальна</h2>

  <h2 class="optima-strong">10000 фільмів та 160+ каналів</h2>
  <p class="optima-descritpion">
    Голлівудська класика та свіжі кіно-новинки за підпискою, прямі футбольні
    трансляції та понад 160 каналів
  </p>

  <p class="optima-price">від 1 ГРН</p>
  <button class="button optima-button" type="button">Спробувати</button>
  <p class="optima-details">
    Перші 14 днів за 1 грн,<br />
    далі – 97 грн/міс.
  </p>
  <a class="link" href="/">Детальніше</a>
</section>
