.nav-menu {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-title {
  @extend %title;

  margin-bottom: 10px;

  @include mq(mobileM) {
    margin-bottom: 14px;
  }

  @include mq(mobileL) {
    margin-bottom: 18px;
  }
}

.hero-descritption {
  @extend %main;
}

.arrow {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0%);

  animation: infinite upAndDown;
  animation-duration: 3s;
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translate(-50%, 0%);
  }

  15% {
    transform: translate(-50%, -20px);
  }

  30% {
    transform: translate(-50%, 10px);
  }

  45% {
    transform: translate(-50%, -10px);
  }

  60% {
    transform: translate(-50%, 6px);
  }

  75% {
    transform: translate(-50%, -3px);
  }
}
